{% extends 'home.html' %}

{% block cuerpo %}

<h3>Datos Personales</h3>
Nombre: {{detalles.0.0.nombre}} <br>
Direccion: {{detalles.0.0.direccion}} <br>
Telefono: {{detalles.0.0.telefono}} <br>
observaciones: {{detalles.0.0.observaciones}} <br>
Numero de Abonado: {{detalles.0.0.numeroAbonado}}

Documento: {{detalles.0.0.documento}} <br>
Localidad: {{detalles.0.0.localidad}} <br>
Codigo Postal: {{detalles.0.0.codigoPostal}} <br>


<br>
<h3>Abonos</h3>
<table class="table table-bordered y-10">
	<thead>
	  	<tr>
			<th scope="col">Fecha Desde</th>
			<th scope="col">Fecha Hasta</th>
		  </tr>
	</thead>
	<tbody>
		{% for abono in detalles.1 %}
		{{ abono }}
		  	<tr>
				<td>{{abono.fechaDesde|date:"d-m-Y"}}</td>
				<td>{{abono.fechaHasta|date:"d-m-Y"}}</td>
			</tr>
	  	{% endfor %}
	</tbody>
  </table>

<br>

<h3>Reservas</h3>
<table class="table table-bordered y-10">
	<thead>
	  	<tr>
			<th scope="col">Destino</th>
			<th scope="col">Dia</th>
			<th scope="col">Hora</th>
		  </tr>
	</thead>
	<tbody>
		{% for abonadodia in detalles.2 %}
		{{ abono }}
		  	<tr>
				<th>{{abonadodia.get_destino_display}}</th>
				<td>{{abonadodia.get_dia_display}}</td>
				<td>{{abonadodia.hora|date:'H:i'}}</td>
			</tr>
	  	{% endfor %}
	</tbody>
  </table>

{% endblock %}

